<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>
<h2>Seleccione una opción</h2>

<div>
    <h3>Bienvenido</h3>
    <p>{{user.last_name}} {{user.first_name}}</p>
</div>

<button id="viewProduct" class="btn btn-primary"> Comprar Productos</button>
<button id="addProduct" class="btn btn-primary"> Ir a Cargar Productos</button>
<button id="viewChat" class="btn btn-primary"> Ir al Chat</button>
<button id="viewCart" class="btn btn-primary"> Ver Carrito </button>
<button id="viewProfile" class="btn btn-primary"> Credenciales</button>
<button id="changeRole" class="btn btn-primary"> Usuarios</button>
<button id="logout" class="btn btn-primary"> Salir</button>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>
