<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisi칩n 39760</h2> <br>

<div class="login">
    <h1>Reseteo Contrase침a</h1>
    <h4>Ingrese la nueva contrase침a</h4>
    <form  id="setPassForm">
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Contrase침a" id="password" required>
        <input value="Cambiar" type="submit" class="btn btn-warning">
        <button id="goHome" class="btn btn-secondary"> Ir al LOGIN</button>
    </form>
</div>

<script src="https://kit.fontawesome.com/6ab0217e5f.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset.js"></script>