<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>
<h2>Carga tu producto</h2> <br>

{{!-- <form action="/api/products" method="post"> --}}
<form id="productForm">
    <div class="mb-3 col">
        <label for="exampleInput1" class="form-label">Código</label> 
        <input type="text" class="form-control-sm" name="code" placeholder="ingrese código">
    </div>
    <div class="mb-3 col">
        <label for="exampleInput2" class="form-label">Nombre</label> 
        <input type="text" class="form-control-sm" name="title" placeholder="ingrese nombre">
        <label for="exampleInput3" class="form-label">Descripción</label> 
        <input type="text" class="form-control-sm" name="description" placeholder="ingrese descripción">
        <label for="exampleInput4" class="form-label">Categoría</label> 
        <input type="text" class="form-control-sm" name="category" placeholder="ingrese categoría">
    </div>
    {{!-- <div class="mb-3">
        <label for="exampleInput4" class="form-label">Categoría</label> 
        <input type="text" class="form-control-sm" name="category" placeholder="ingrese categoría">
    </div>  --}}       
    <div class="mb-3">
        <label for="exampleInput5" class="form-label">Precio</label> 
        <input type="number" class="form-control-sm" name="price" placeholder="ingrese precio">
        <label for="exampleInput6" class="form-label">Stock</label> 
        <input type="number" class="form-control-sm" name="stock" placeholder="ingrese precio">
    </div>
    <div class="mb-3">
        <label for="exampleInput7" class="form-label">Foto URL</label> 
        <input type="text" class="form-control-sm" name="thumbnail" placeholder="url imagen">
    </div>
    <button type="submit" id="butAdd" class="btn btn-primary" value="Cargar Producto"> Cargar Producto </button>
    <button id="goHome" class="btn btn-secondary"> Ir al HOME</button>
</form>

<br>
<div id="container" class="producto-contenedor-real"></div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>