<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>

<div class="register">
    <h1>Registro</h1>
    <form id="registerForm">
        <label for="Nombre">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="first_name" placeholder="Nombre" id="first_name" required>
        <label for="Apellido">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="last_name" placeholder="Apellido" id="last_name" required>
        <label for="Email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="text" name="email" placeholder="Email" id="email" required>
        <label for="Edad">
            <i class="fas fa-id-card"></i>
        </label>
        <input type="text" name="age" placeholder="Edad" id="age" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <button id="login" type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <br>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>