<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>

<div class="login">
    <h1>Reseteo de su contraseña</h1>
    <h2>El link de reseteo es incorrecto o ya caduco!</h2>
    <p>Por favor volver a generarlo desde <a href="/resetPassword">aquí</a></p>
    <p>o para volver al <a href="/login">Login</a></p>
</div>