<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>

<div class="login">
    <h1>Reseteo Contraseña</h1>
    <form  id="resetForm">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="email" placeholder="Email" id="username" required>
        <input value="Validar" type="submit" class="btn btn-warning">
        <button id="goHome" class="btn btn-secondary"> Ir al LOGIN</button>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset.js"></script>